{% extends 'base.html' %}

{% block content %}
<style>
    body {
    background-position: 50%;
    background-size cover;
    background-image: url('https://p0.pikist.com/photos/84/603/berlin-shopping-leipzig-burst-black-white-architecture.jpg');
    }
</style>
<div class="col-sm-8 col-sm-offset-2">
{% if empty %}

<h1 style="text-align:center; text-color:white;">{{ empty_message }}</h1>

{% else %}
<table class="table">
    <thead>
    <th class="text-white">Item</th>
    <th class="text-white">Price</th>
    <th class="text-white">Qty</th>
    <th></th>
    </thead>
    <tfoot>
    <tr>
        <td></td>
        <td></td>
        <td class="text-white">Total: {{ cart.total }}</td>
    </tr>
    </tfoot>
    {%  for item in cart.cartitem_set.all  %}
    <tr><td class="text-white">{{ item.product }}</td><td class="text-white">{{ item.product.price }}</td>
        <td class="text-white">{{ item.quantity }}</td><td><a href="{% url 'remove_from_cart' item.id %}" class="btn btn-outline-success my-2 my-sm-0">Remove</a></tr>
    {% endfor  %}
</table>
<br/>
    <a href="{% url 'checkout' %}">Checkout</a>
{% endif %}
</div>
{% endblock %}