{% extends 'base.html' %}
{% block content %}
    <h1></h1>
<style>
    body {
    background-position: 50%;
    background-size cover;
    background-image: url('https://p0.piqsels.com/preview/789/103/776/budapest-hungary-fruit-and-veg-reflection-thumbnail.jpg');
    }
</style>
    <div class="row">
        {% for product in products %}
            <div class="col">
            <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
                <img src="{{ product.image_url }}" class="card-img-top" alt="..." style="width:271x;height:180px;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.name }}
                        <span class="badge badge-pill badge-{{ product.get_label_display }}">{{ product.category }}</span>
                    </h5>
                    <p class="card-text">Ksh.{{ product.price }}</p>
                    <form class="form" method="POST" action="{% url 'add_to_cart' product.slug %}">
                        {% csrf_token %}
                        <input class="form-control" name="qty" type="number" value="1"/>
                        <input class="btn btn-outline-success my-2 my-sm-0" type="submit" value="Add to Cart"/>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
