{% extends 'base.html' %}

{% block content %}
    <h1>Pastries</h1>
<style>
    body {
    background-position: 50%;
       background-size cover;
    background-image: url('https://c1.wallpaperflare.com/preview/726/222/367/star-love-wood-black.jpg');
    }
</style>
    <div class="row">
        {% for pastrie in pastries %}
            <div class="col">
            <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
                <img src="{{ pastrie.image_url }}" class="card-img-top" alt="..." style="width:271x;height:180px;">
                <div class="card-body">
                    <h5 class="card-title">{{ pastrie.name }}</h5>
                    <p class="card-text">Ksh.{{ pastrie.price }}</p>
                    <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

