{% extends 'base.html' %}

{% block content %}
    <h1>Ready Meals</h1>
<style>
    body {
    background-position: 50%;
    background-size cover;
    background-image: url('https://publicdomainvectors.org/photos/lotsoffoodonatable.png');
    }
</style>
    <div class="row">
        {% for ready_meal in ready_meals %}
            <div class="col">
            <div class="card text-white bg-secondary mb-3" style="width: 18rem;">
                <img src="{{ ready_meal.image_url }}" class="card-img-top" alt="..." style="width:271x;height:180px;">
                <div class="card-body">
                    <h5 class="card-title">{{ ready_meal.name }}</h5>
                    <p class="card-text">Ksh. {{ ready_meal.price }}</p>
                    <a href="#" class="btn btn-dark">Add to Cart</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}

