<!DOCTYPE html>
<html lang="en">
<style>
   #icon {
   border-radius: 50%;
   }
</style>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
  <link rel="stylesheet" href="">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Soko</title>
  <!-- add icon link -->
        <link rel = "icon" href =
"https://storage.needpix.com/rsynced_images/icon-1728552_1280.jpg"
        type = "image/x-icon">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="breadcrumb">
    <span class="navbar-toggler-icon"> Yes</span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="http://127.0.0.1:8000/products/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Categories
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/fruits_and_vegetables">Fruits and Vegetables</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/pastries">Pastries</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/snacks">Snacks</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/ready_meals">Ready Meals</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/dairy_products">Dairy Products</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/soft_drinks">Soft Drinks</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/frozen_goods">Frozen Groceries</a>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products/other_goods">Others</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="http://127.0.0.1:8000/products">All Products</a>
        </div>
      <li class="nav-item">
      <a class="nav-link" href="http://127.0.0.1:8000/login/" tabindex="-1" aria-disabled="true">Login</a>
    </li>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://127.0.0.1:8000/logout/" tabindex="-1" aria-disabled="true">Logout</a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'cart' %}">Cart <span class="badge badge-pill badge-secondary">
          {% if not request.session.items_total %} 0 {% else %} {{ request.session.items_total }} {% endif %}</span></a></li>
        {% if user.is_authenticated %}
          <a class="nav-link" href="#">Welcome</a></li>
        {% else %}
           <a class="nav-link" href="/login">Login Here</a></li>
        {% endif %}
    </ul>
    <form class="form-inline my-2 my-lg-0" role="search" action="s/">
      <input class="form-control mr-sm-2" type="search" placeholder="Product Name..." aria-label="Search" name="search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
      {% block content %}
      {% endblock %}
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>